:root{
    --bRadius: 10px;    
    --accent: slateblue;

    --sortNew: #4aa6ca;
    --sortNewHover: #46cece;

    --copyList: #42eb8e;
    --copyListHover: #40f86e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background: #eeeeee;
}

/* ====== BASE STYLES ====== */
ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

a{
    display: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: var(--bRadius);
}

/* ====== BTN FEATURES ====== */
a.sort-new{
    display: block;
}

a#sort-more{
    padding: 1rem;
    background: var(--sortNew);
}

a#sort-more:hover{
    background:var(--sortNewHover);
}

a#copy-list{
    padding: 8px 10px;
    background: var(--copyList);
    box-shadow: 0 2px 4px #aaaaaa8a;
}

a#copy-list:hover{
    background: var(--copyListHover);
}


/* ====== HEADER ====== */
header{
    padding: 1rem 2rem;
    background: #ffffff;
    box-shadow: 0 2px 8px #cccccc;
}

.header-wrap{
    margin: auto;
    display: flex;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
}

header .home{
    display: inline-block;
}

header .home h1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #8282e6 40%, #4aa6ca 60%);
}

/* ====== MAIN CONTENT ====== */
main{
    padding: 1rem 2rem;
}

.content-wrap{
    margin: auto;
    max-width: 1024px;
}

/* ====== FORM ====== */
form{
    display: flex;
    flex-direction: column;
}

form > *{
    margin-bottom: 1rem;
}

form p{
    color: #888888;
    font-size: 1.2rem;
}

/* === TextArea === */
form textarea{
    width: 100%;
    resize: none;
    border: none;
    height: 400px;
    font-size: 1rem;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 8px #cccccc;
}

form textarea::-webkit-scrollbar{
    width: 12px;
    background: #eeeeee;   
}

form textarea::-webkit-scrollbar-thumb{
    background: var(--accent);
}   

form textarea.success{
    color: #ffffff;
    font-weight: bolder;
    background: linear-gradient(120deg,#00fa9a, #00fa66);
}

form textarea:focus{
    border: 2px solid var(--accent);
}

/* ==== Shared Styles ==== */
form textarea, button{
    outline: none;
    padding: 1rem;
    transition: all 0.2s ease;
    border-radius: var(--bRadius);
}

/* === Buttons === */
form button{
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    background: var(--accent);
    text-transform: uppercase;
}

form button.remove{
    display: none;
}

form button:hover{
    background: #7e6fe4;
}

footer{
    padding: 8px;
    color: #888888;
    font-size: 1.4rem;
    text-align: center;
}

footer .gitHub{
    display: block;
    color: #888888;
    transition: 0.2s ease;
}

footer .gitHub:hover{
    color: var(--accent);
}

/* ====== CUSTOM SCROLLBAR ====== */
::-webkit-scrollbar{
    width: 10px;
    background: #4aa6ca;
}

::-webkit-scrollbar-thumb{
    border-radius: 60px;
    background:slateblue;
}
